@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap"); /* Importerar fonter */

:root {
  --primary-color: #421333;
  --dark-color: #333333;
  --light-color: #fc9434;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
}

html {
  -moz-scroll-behaviour: smooth;
  -webkit-scroll-behaviour: smooth;
}

.no-bg {
  background: none;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0, 0.8)),
    url("../img/large/bg1.jpg");
	background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}
.logga {
  color: #fabd02;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 2vh;
}

.info {
  background: rgba(255, 255, 255, 0.3);
  padding: 5px;
  border-radius: 5px;
}

span {
  color: rgb(250, 248, 248);
}

.main {
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  width: 900px;
}

.navbar .navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar .navbar-collapse {
  text-align: center;
}

.nav-item{
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 25px;
  margin-left: 10px;
  border: 2px solid white;
  transition: 1s;
  
}

.navbar-custom {
  font-weight: bold;
}

.navbar-custom .navbar-text{
  color: black;
  
}

.navbar-custom .navbar-nav > li > a {
  color: rgb(0, 0, 0);
  text-shadow: -1px 1px 1px 5px black;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #333;
}

.nav-link {
 
  color: black;
}

.nav-link a {
  color: black;
}



.navbar-dark li{
  color: black;
}


.nav-item:hover {
  background: red;
}


.content {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  margin-top: 5vh;
  border-radius: 10px;
  color: #fff;
  padding: 20px;
  display: grid;
  grid-template-columns: auto;
  text-shadow: 2px 3px 4px black;
  
  
}

.content p {
  font-size: 1.0rem;
  text-align: left;
  
}


.content div {
  margin-bottom: 20px;
  
}


.header h1 {
  color: #f5f5ef;
  font-weight: bolder;
  font-size: 60px;
  letter-spacing: 2px;
  
}

.header p {
  color: white;
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 30px;
  word-spacing: 3px;
  letter-spacing: 1px;
}



.btn {
  margin: 0px 10px;
  border: 2px solid white;
  padding: 13px 35px;
  letter-spacing: 1px;
  color: black;
  border-radius: 30px;
  background-color: white;
  text-decoration: none;
}
.btn:hover {
  border: 2px solid white;
  color: white;
  background-color: #fa0202;
  transition: 1s ease;
  cursor: pointer;
}

@media all and (max-width: 1100px) {
  /* La till lite kod för responsivitet */
  .content {
    grid-template-columns: auto;
  }
  
  .header h1{
    font-size: 1.5rem;
  }
 .header p {
   font-size: 0.9rem;
   margin-bottom: 0;
 }

  .navbar-nav li {
    margin-top: 10px;
    border-radius: 5px;
    background: white;
    font-size: 76%;
    width: 80%;
    justify-content: center;
    
    
    
  }

  


  .content {
    margin-top: 10px;
  }
  .navbar-nav a{
    
    background: none;
    color: red;
  }
}
