@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap"); /* Importerar fonter */

:root {
  --primary-color: #ffbb00;
  --background-alpha: rgba(0, 0, 0, 0.205);
  --dark-color: #333333;
  --light-color: #fc9434;
  --danger-color: #dc3545;
  --success-color: #919191;
}

* {
  box-sizing: border-box;
}

html {
  -moz-scroll-behaviour: smooth;
  -webkit-scroll-behaviour: smooth;
}

.link-primary-color {
  color: var(--primary-color);
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.705)),
    url("../img/bakgrundsbilder/bg4.jpg");
	background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}
.logga {
  color: #fabd02;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 2vh;

  

}

.logga img {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.info {
  background: var(--background-alpha);
  padding: 5px;
  border-radius: 5px;
}

span {
  color: rgb(250, 248, 248);
}

.main {
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  width: 900px;
}

.content {
  width: 100%;
  background: var(--background-alpha);
  margin-top: 1.5vh;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  padding: 20px;
  display: grid;
  grid-template-columns: auto;
  text-shadow: 2px 2px 4px black;
  
  
}

.content h1 {
  font-size: 1.7rem;
  padding-bottom: 20px;
}
.content h4 {
  text-align: left;
  padding: 10px;
}

.content p {
  font-size: 0.9rem;
  text-align: left;
  
}

.restaurangLista {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  

  
 
}
.restaurangLista div {
  background:rgba(0, 0, 0, 0.5);
  padding: 10px;
  height: 270px;
 
}

.restaurangLista > div:nth-child(2n) {
  background:rgba(204, 204, 204, 0.5);
  
}

.content div {
  margin-bottom: 20px;
  
}
.content img {
  max-width: 350px;
  height: auto;
  margin: 10px;
}

header {
  text-shadow: 2px 4px 5px black;
  color: red;
}

header h1 {
  color: var(--primary-color);
  font-weight: bolder;
  font-size: 50px;
  letter-spacing: 2px;
  
}

header p {
  color: white;
  font-size: 18px;
  margin-bottom: 30px;
  word-spacing: 3px;
  letter-spacing: 1px;
}
header img {
  width: 400px;
  height: auto;
}

.btn {
  margin: 0px 10px;
  border: 2px solid white;
  padding: 13px 35px;
  letter-spacing: 1px;
  color: black;
  border-radius: 30px;
  background-color: white;
  text-decoration: none;
}
.btn:hover {
  border: 2px solid white;
  color: white;
  background-color: #fa0202;
  transition: 1s ease;
  cursor: pointer;
}

.img-desc {
  font-size: 0.8rem;
  text-align: left;
}




/* BOOTSTRAP Justeringar*/
.no-bg {
  background: none;
}


.navbar .navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar .navbar-collapse {
  text-align: center;
}

.nav-item {
  background: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 25px;
  margin: 2px;
  border: 2px solid white;
  transition: 1s;
  
}

.active {
  background-color: var(--primary-color);
}

.navbar-custom {
  font-weight: bold;
}

.navbar-custom .navbar-text{
  color: black;
  
}

.navbar-custom .navbar-nav > li > a {
  color: rgb(0, 0, 0);
  text-shadow: -1px 1px 1px 5px black;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #333;
}

.nav-link {
 
  color: black;
}

.nav-link a {
  color: black;
}



.navbar-dark li{
  color: black;
}


.nav-item:hover {
  background: var(--primary-color);
}



/* RESPONSIVITET */
@media all and (max-width: 1000px) {
  
  .content {
    grid-template-columns: auto;
  }
  
  header h1{
    font-size: 2rem;
  }
  header p {
   font-size: 0.9rem;
   margin-bottom: 0;
 }
 .navbar .navbar-nav {
   margin-top: 10px;
   display: grid;
   grid-template-columns: 1fr 1fr;
 } 
 .nav-item {
    margin-top: 10px;
    border-radius: 5px;
    background: white;
    font-size: 76%;
    width: 90%;
    justify-content: center;
    padding: 2px;
    margin-top: 1px;
   }
 
  .nav-item a{
    background: none;
    color: red;
  }

  .content {
    margin-top: 10px;
  }
}
