<!DOCTYPE html>
<html lang="sv">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="container">
    <div class="main">
      <header><%- include('../partials/header'); %></header>
      <!-- NAV -->
      <%- include('../partials/navbar'); %>
      <!-- NAV END -->

      <div class="content">
        <div class="row">
          <div class="col-sm col-md col-lg">
            <h1>Besök Tyresö Slott</h1>

            Att resa tillbaka i tiden är alltid ett av de högsta önskemålen för
            de flesta människor. Tyresö slotts- och Tyresö kyrka har reservat
            1600-tal - 1900-talsminnen och arkitekturstilar för dig att
            utforska. Tyresö slott byggdes omkring 1621 och stod färdigt 1636,
            och nästan samtidigt invigdes Tyresö kyrka. När arkitekten Gabriel
            Oxenstierna ritade och byggde Tyresö slott, använde han
            nationalromantik som grundstil för att designa hela slottets
            interiör. Numera är Tyresö slott ett av de museer som tillhör
            Nordiska museet, insidan av Tyresö slott är endast öppet för
            besökare sommartid från 28 maj till 4 september varje helg, men
            parken är öppen året runt. Tyresö kyrka kan besökas tillsammans med
            Tyresö slott enligt de flesta ortsbor. Den har liknande stil med
            Tyresö slott och till och med Stadshuset i Stockholms-centrum, som
            byggdes i en blandning av gotik och renässansstil.<br />
            <br />
            Det mest populära schemat för detta område är att ta buss 875
            (destination: Tyresö kyrka) eller bil från Tyresö centrum för att
            besöka. Vi rekommenderar att besökarna kan gå runt i parken och
            naturen nära slottet, till och med ta en fika i Borggårdscafét som
            ligger på Tyresö slott. När du sitter i kaféet och njuter av kaffet
            kan du föreställa dig i tidskapseln och resa tillbaka till 1600- och
            1700-talet. Genom att titta och glasa in omgivningarna i slottet kan
            du befinna dig i ett lugnare och långsammare sinne. Så varför inte
            ta en dag bara insupa historien och naturlandskapet på Tyresö slott?
            <div
              id="carouselSlottet"
              class="carousel slide w-100 float-end my-3"
              data-bs-ride="carousel"
            >
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#carouselSlottet"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselSlottet"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselSlottet"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselSlottet"
                  data-bs-slide-to="3"
                  aria-label="Slide 4"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselSlottet"
                  data-bs-slide-to="4"
                  aria-label="Slide 5"
                ></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="../img/small/slott-side.jpg"
                    class="d-block w-100"
                    alt="Slottet från höger"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../img/small/slott-side2.jpg"
                    class="d-block w-100"
                    alt="Slottet från vänster"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="/img/small/slott-side3.jpg"
                    class="d-block w-100"
                    alt="Slott från öster"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="/img/small/slott-bakom.jpg"
                    class="d-block w-100"
                    alt="Slott bakom"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="/img/small/slott-gard.jpg"
                    class="d-block w-100"
                    alt="Slottet bakgård"
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselSlottet"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselSlottet"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%-include('../partials/script'); %>
  </body>
</html>
