<!DOCTYPE html>
<html lang="sv">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="container">
    <div class="main">
      <header><%- include('../partials/header'); %></header>
      <!-- NAV -->
      <%- include('../partials/navbar'); %>
      <!-- NAV END -->

      <div class="content">
        <div class="row">
          <h1>Aktiviteter i Tyresö</h1>
          Spela frolf i alby lorem2000
        </div>
      </div>
    </div>

    <%-include('../partials/script'); %>
  </body>
</html>
