<!DOCTYPE html>
<html lang="zxx">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="container">
    <div class="main">
      <header><%- include('../partials/header'); %></header>
      <!-- NAV -->
      <%- include('../partials/navbar'); %>
      <!-- NAV END -->

      <div class="content py-1">
        <div class="row">
          <h1>Badplatser i Tyresö</h1>
          <div class="col-sm">
            <h4 id="alby">Albybadet</h4>
            <p>
              I anslutning till Alby naturreservat finns den populära Albybadet
              beläget. En sandstrand perfekt för människor i alla åldrar.
            </p>
            <p>
              En stor parkering finns i anslutning till Alby Friluftsgård där
              man även finner kiosk och café.
            </p>
            <p>Busstation: Nyfors (Alby friluftsgård).</p>
            <p>
              Förutom bad så finns aktiviteter så som utegym, vandringsleder
              samt frisbeegolfbana tillgängligt i anslutning till Alby
              Friluftsområde.
            </p>
          </div>
          <div class="col-lg">
            <img
              src="./img/bakgrundsbilder/bg5.jpg"
              alt="Albybadet"
              class="img-fluid img-thumbnail rounded"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <img
              src="./img/bakgrundsbilder/bg3.jpg"
              alt="Strandbadet"
              class="img-fluid img-thumbnail rounded"
            />
          </div>
          <div class="col-sm">
            <h4 id="strandbadet">Tyresö Strandbad</h4>
            <p>
              Strandbadet är en stor sandstrand på Strandallén vid Erstaviken.
              Förutom sandstrand i anslutning till vattnet så hittar man även
              gräsytor samt klippor att ligga på. Fin strand för familjen.
            </p>
            <p>
              En liten parkering finns i anslutning till badet (Tips, kom tidigt
              för att säkert få plats).
            </p>
            <p>Busstation: Strandbadet.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <h4 id="barnsjön">Barnsjön (klippor)</h4>
            <p>
              Barnsjön är en skogssjö med mindre bryggor omgivet med skog och
              klippor.
            </p>
            <p>
              Buss station: Marsvägen. Inga bilvägar ner till badet. Här tar man
              en frisk promenad ner till sjön (möjligtvis cykel).
            </p>
            <p>Restaurang finns 200 meter från badplatsen.</p>
          </div>
          <div class="col-sm">
            <img
              src="./img/bakgrundsbilder/bg2.jpg"
              alt="Barnsjön"
              class="img-fluid img-thumbnail rounded"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <img
              src="./img/bakgrundsbilder/bg7.jpg"
              alt="Trinntorpsbadet"
              class="img-fluid img-thumbnail rounded"
            />
          </div>
          <div class="col-sm">
            <h4 id="Trinntorpsbadet">Trinntorpsbadet (Strand)</h4>
            <p>
              Stor Sandstrand belägen vid Erstaviken Förutom sandstrand finns en
              brygga. Uppskattat bad för både stora och små.
            </p>
            <p>
              Parkering finns vid Breviksvägen/Tegelbruksvägen i anslutning till
              badplatsen.
            </p>
            <p>Busstation: Trinntorp.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <h4 id="Notholmen">Notholmen/Tyresö slott (Klippor)</h4>
            <p>
              Bad finns ute på udden förbi Notholmen café där man kan komma ner
              i vattnet från bergsknallen. Ingen strand och mer anpassat för
              simkunniga.
            </p>
            <p>
              Parkering finns uppe vid slottet och kyrkan där man kan gå ner
              till holmen.
            </p>
            <p>Busstation: Tyresö kyrka</p>
            <p>
              För mat finns både Tyresö slotts cafeét samt notholmen för både
              nått lättare samt en stabilare lunch.
            </p>
          </div>
          <div class="col-sm">
            <img
              src="./img/bakgrundsbilder/bg6.jpg"
              alt="Notholmen"
              class="img-fluid img-thumbnail rounded"
            />
          </div>
        </div>
      </div>
    </div>

    <script src="./js/bootstrap.min.js"></script>
  </body>
</html>
