<!DOCTYPE html>
<html lang="sv">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="container">
    <div class="main">
      <header><%- include('../partials/header'); %></header>
      <!-- NAV -->
      <%- include('../partials/navbar'); %>
      <!-- NAV END -->

      <div class="content">
        <h1>Badplatser i Tyresö</h1>
        <!-- EXprimentell <div class="jump-menu sticky-top">
          Hoppa till:
          <a href="#alby">Alby</a>
          <a href="#strandbadet">Strandbadet</a>
          <a href="#barnsjön">Barnsjön</a>
          <a href="#Trinntorpsbadet">Trinntorpsbadet</a>
          <a href="#Notholmen">Notholmen</a>
          <a href="#Skrubba">Skrubba</a>
          <a href="#Kumlabadet"> Kumlabadet</a>
        </div> -->
        <!-- Mall för badplats text först-->
        <div class="row">
          <div class="col-sm">
            <h4 id="alby">Albybadet</h4>
            <p>
              I anslutning till Alby naturreservat finns den populära Albybadet
              beläget. En sandstrand perfekt för människor i alla åldrar.
            </p>
            <p>
              En stor parkering finns i anslutning till Alby Friluftsgård där
              man även finner kiosk och café.
            </p>
            <p>Busstation: Nyfors (Alby friluftsgård).</p>
            <p>
              Förutom bad så finns aktiviteter så som utegym, vandringsleder
              samt frisbeegolfbana tillgängligt i anslutning till Alby
              Friluftsområde.
            </p>
          </div>
          <div class="col-sm">
            <img
              src="./img/large/albystrand.jpg"
              alt="Albybadet"
              class="img-fluid img-thumbnail rounded p-0"
            />
          </div>
        </div>
        <!-- Mall end-->

        <!-- Mall för badplats bild först-->
        <div class="row">
          <div class="col-sm">
            <img
              src="./img/large/strandbadet.jpg"
              alt="Strandbadet"
              class="img-fluid img-thumbnail rounded p-0"
            />
          </div>
          <div class="col-sm">
            <h4 id="strandbadet">Tyresö Strandbad</h4>
            <p>
              Strandbadet är en stor sandstrand på Strandallén vid Erstaviken.
              Förutom sandstrand i anslutning till vattnet så hittar man även
              gräsytor samt klippor att ligga på. Fin strand för familjen.
            </p>
            <p>
              En liten parkering finns i anslutning till badet (Tips, kom tidigt
              för att säkert få plats).
            </p>
            <p>Busstation: Strandbadet.</p>
          </div>
        </div>
        <!-- Mall end -->
        <div class="row">
          <div class="col-sm">
            <h4 id="barnsjön">Barnsjön (klippor)</h4>
            <p>
              Barnsjön är en skogssjö med mindre bryggor omgivet med skog och
              klippor.
            </p>
            <p>
              Buss station: Marsvägen. Inga bilvägar ner till badet. Här tar man
              en frisk promenad ner till sjön (möjligtvis cykel).
            </p>
            <p>Restaurang finns 200 meter från badplatsen.</p>
          </div>
          <div class="col-sm">
            <img
              src="./img/large/barnsjön.jpg"
              alt="Barnsjön"
              class="img-fluid img-thumbnail rounded p-0"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <img
              src="./img/small/Trintopsbadet.jpg"
              alt="Trinntorpsbadet"
              class="img-fluid img-thumbnail rounded p-0"
            />
          </div>
          <div class="col-sm">
            <h4 id="Trinntorpsbadet">Trinntorpsbadet (Strand)</h4>
            <p>
              Stor Sandstrand belägen vid Erstaviken Förutom sandstrand finns en
              brygga. Uppskattat bad för både stora och små.
            </p>
            <p>
              Parkering finns vid Breviksvägen/Tegelbruksvägen i anslutning till
              badplatsen.
            </p>
            <p>Busstation: Trinntorp.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <h4 id="Notholmen">Notholmen/Tyresö slott (Klippor)</h4>
            <p>
              Bad finns ute på udden förbi Notholmen café där man kan komma ner
              i vattnet från bergsknallen. Ingen strand och mer anpassat för
              simkunniga.
            </p>
            <p>
              Parkering finns uppe vid slottet och kyrkan där man kan gå ner
              till holmen.
            </p>
            <p>Busstation: Tyresö kyrka</p>
            <p>
              För mat finns både Tyresö slotts cafeét samt notholmen för både
              nått lättare samt en stabilare lunch.
            </p>
          </div>
          <div class="col-sm">
            <img
              src="./img/small/Notholmen tyresö slott.jpg"
              alt="Notholmen"
              class="img-fluid img-thumbnail rounded p-0"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <img
              src="./img/medium/Skrubba.jpg"
              alt="Skrubba"
              class="img-fluid img-thumbnail rounded p-0"
            />
          </div>

          <div class="col-sm">
            <h4 id="Skrubba">Skrubbabadet (Strand/klippor)</h4>
            <p>
              Är en liten fin uppskattad badstrand med brygga populärt för
              småbarnsfamiljer. Föredrar man klippor så finns det en hel del
              berg i närområdet anslutet till stranden. Finns även en båt soliga
              dagar som levererar glass
            </p>
            <p>Busstation: Hanviken eller Solkraftsvägen är nära belägna.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <h4 id="Kumlabadet">Kumlabadet (Stenstrand)</h4>
            <p>
              Jättefin strand med två 'sektioner' där en är lite mer långgrund
              och passar bra för familjer med mindre barn och en del som passar
              bättre för familjer med lite större barn. Det finns en kiosk.
              Liksom gungor och bra med gräsytor som både täcks av skugga bakom
              stora träd eller ligger i öppen sol om man föredrar det.
            </p>
            <p>Busstation: Trollbäcken Centrum</p>
            <p>
              Finns parkering precis i anslutning till badet (ca 25 platser).
            </p>
          </div>
          <div class="col-sm">
            <img
              src="./img/medium/kumla3.jpg"
              alt="Skrubba"
              class="img-fluid img-thumbnail rounded p-0"
            />
          </div>
        </div>
      </div>
    </div>

    <%-include('../partials/script'); %>
  </body>
</html>
