<!DOCTYPE html>
<html lang="zxx">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="container">
    <div class="main">
      <header><%- include('../partials/header'); %></header>
      <!-- NAV -->
      <%- include('../partials/navbar'); %>
      <!-- NAV END -->

      <div class="content">
        <div class="row">
          <div class="col-sm">
            <h1>Historia</h1>
            <p>
              De första människorna anlände till det som nu är Tyresö kommun
              någon gång kring 3000-talet f.Kr. Permanenta boplatser uppstod
              inte förrän någon gång runt 600-talet. Det finns gravar och andra
              lämningar från denna förhistoriska tid.
            </p>
            <p>
              Tyresö Godset har sitt ursprung i 1300-talet. Godset var som
              störst under 1600-talet, då nästan all nutida kommun area
              tillhörde det. Det var under detta århundrade som Tyresö slott och
              Tyresö kyrka byggdes.
            </p>

            <figure class="figure w-45 float-end">
              <img
                src="./img/large/rundmar.jpg"
                alt="Rundmar"
                class="figure-img img-fluid rounded"
              />
              <figcaption class="figure-caption">
                Rundmar är en av Tyresös äldsta gårdar. Den nämns redan år 1409
                och förmodligen grundlagts under tidig medeltid.
              </figcaption>
            </figure>
            <p>
              Tyresö var ett viktigt industriellt centrum i Stockholmsområdet
              mellan 1500-talet och 1800-talet tack vare vattenkraftverken som
              kunde byggas på strömmarna mellan sjöarna. Vattenhjulen i
              kommunvapnet representerar de tre verken vid Nyfors, Uddby och
              Follbrinksströmmen. Industrierna inkluderade kvarnar, valsverk,
              pappersbruk, smedjor, sågar, textilindustri och tegelbruk. Inget
              av dessa gamla vattenkraftverk finns kvar. Uddby kvarn brann upp
              1895 och i dess ställe byggdes ett vattenkraftverk för att
              producera el. Elkraftverket finns kvar än i dag och är det enda av
              sitt slag i Stockholmstrakten.
            </p>
            <p>
              I början av 1900-talet började Tyresö Godsets stora landarealer
              att styckas upp och man började bygga sommarstugor. Några
              exklusiva fritidshus byggdes på Brevikshalvön. De första
              decennierna ökade byggtakten kraftigt. Från 1950-talet och framåt
              började fritidshusen byggas om till åretruntboende i rask takt.
            </p>

            <p>
              Från 1950-talet och framåt upplevde Bollmora en enorm tillväxt,
              särskilt efter lagstiftningen Lex Bollmora som tillät kommunala
              fastighetsbolag att verka i kommuner andra än den egna. Ett
              kommuncentrum bildades i Bollmora, Bollmora Centrum, vilket
              invigdes 1965. Miljonprogrammet satte sin särprägel på Tyresö,
              särskilt Bollmora, många av bostadsområdena är från det
              programmet.
            </p>
            <p>
              I början av 1990-talet byggdes Bollmora Centrum om till en
              galleria och döptes om till Tyresö Centrum. En stor skogsbrand
              förstörde cirka 15 % av Tyresta nationalpark i augusti 1999 (se
              Skogsbranden i Tyresta nationalpark 1999).
            </p>
          </div>
        </div>
      </div>
    </div>

    <script src="./js/bootstrap.min.js"></script>
  </body>
</html>
