<!DOCTYPE html>
<html lang="sv">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="container">
    <div class="main">
      <header><%- include('../partials/header'); %></header>
      <!-- NAV -->
      <%- include('../partials/navbar'); %>
      <!-- NAV END -->

      <div class="content">
        <h1>Mall</h1>
        <div class="row">
          <div class="col-lg-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
            obcaecati quam tempore debitis tenetur modi? Debitis ipsum sint
            totam repellat optio. Sequi, inventore, facere nam architecto vel ea
            a eum temporibus dicta quasi laborum quas ducimus quae, corrupti
            quod minima ad totam veniam blanditiis odio placeat voluptates!
            Labore, necessitatibus perspiciatis!
          </div>
          <div class="col-lg-4">
            <img
              src="../img/small/biodling.jpg"
              class="img-fluid img-thumbnail"
            />
          </div>
          <div class="col-lg-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad
            eveniet, asperiores necessitatibus et molestias reprehenderit
            eligendi debitis dolor blanditiis consectetur, est aspernatur non
            perferendis nostrum?
          </div>
        </div>
      </div>
    </div>

    <%-include('../partials/script'); %>
  </body>
</html>
