<!DOCTYPE html>
<html lang="sv">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="container">
    <div class="main">
      <header><%- include('../partials/header'); %></header>
      <!-- NAV -->
      <%- include('../partials/navbar'); %>
      <!-- NAV END -->

      <div class="content">
        <div class="row">
          <h1>Mall</h1>
          mall mall
        </div>
      </div>
    </div>

    <script src="./js/bootstrap.min.js"></script>
  </body>
</html>
