<!DOCTYPE html>
<html lang="zxx">
    <head>
        <%- include('../partials/head'); %>
    </head>
 
    <body class="container">
      <div class="main">
        <header><%- include('../partials/header'); %></header>
        <!-- NAV -->
        <%- include('../partials/navbar'); %>
        <!-- NAV END -->


        <div class="content">
          <div class="row">
            <h1>Restauranger</h1>
            <div class="restaurangLista">
              <div>
                <h4><a href='https://www.brodernas.nu/restauranger/stockholm/tyreso/' class='link-primary-color'>Brödernas</h4></a>
                <p>
                  Plats: oringevägen 2<br />
                  Meny: Hamburgare, pizza och olika sallader <br />
                  Takeaway: Möjligt
                </p>
              </div>

              <!-- Mall för restaurang -->
              <div>
                <h4>
                  <a href='https://toscanini.se/' class='link-primary-color' target='_BLANK'>Toscanini</a>
                </h4>
                <p>
                  Plats: Myggdalsplan 1 <br />
                  Meny: Á la carte, lunch, catering <br />
                  Takeaway: Möjligt
                </p>
              </div>
              <!-- Mall end -->

              <div>
                <h4>
                  <a href='http://www.bonnsushi.se/' class='link-primary-color' target='_BLANK'
                    >Bonn Sushi</a
                  >
                </h4>
                <p>
                  Plats: Bollmoravägen 24C<br />
                  Meny: Sushi, Sashimi och olika varmrätter<br />
                  Takeaway: Möjligt
                </p>
              </div>

              <div>
                <h4>
                  <a href='http://www.spisovin.se/' class='link-primary-color' target='_BLANK'>Spis&Vin</a>
                </h4>
                <p>
                  Plats: Stadsparken 6 <br />
                  Meny: À la carte, lunch, catering samt café<br />
                  Takeaway: Ej möjligt
                </p>
              </div>

              <div>
                <h4>
                  <a href='https://lillaitalien.com/' class='link-primary-color' target='_BLANK'>Lilla Italien</a>
                </h4>
                <p>
                  Plats: Radiovägen 5 <br />
                  Meny: Pizza, sallad, pastarätter, hamburgare, kebab, gyros, á la carte och gyros <br />
                Takeaway: Möjligt  
                </p>
              </div>


            </div>
          </div>
        </div>
      </div>
 

    <script src="./js/bootstrap.min.js"></script>
  </body>
</html>
